@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Great+Vibes&display=swap');/*
font-family: 'Alkatra', cursive;
font-family: 'Great Vibes', cursive;
*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    /* background-color: azure; */
}

footer{
    background-color: blue;
    height: 200px;
    color: white;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
}
.account{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 460px){
    .card{
        background-color: aqua;
        width: 90vw;
        height: 80vh;
        /* display: none !important; */
    }
}
.display-card{
    height: 100vh;
    width: -webkit-fill-avaliable;
    background-color: aqua;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;

    position: sticky;
    top: 0;

    border: 0px 0px 1px 0px solid black;
}